*{
  box-sizing: border-box;
}
.ar-container{
  padding: 30px;
}

.ar-layout-container{
  width:400px;
  height: 300px;
  margin: 20px auto;
  position: relative;
  outline: 1px solid #454d54;
  background:
    repeating-linear-gradient(45deg,
    rgba(184, 204, 224, .06),
    rgba(184, 204, 224, .06) 10px,
    rgba(184, 204, 224, 0) 0,
    rgba(184, 204, 224, 0) 20px);

}

.ar-inner{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

.ar-inner-items{
  display: grid;
  gap:2px;
  grid-area: 1 / 1;
  padding: 2px;
  position:absolute;
}

.ar-inner-items.columns {
  grid-template-columns: 100px 100px;
  height: 100%;
  background: rgba(13, 15, 18,0.6);

}

.ar-inner-items.rows {
  grid-template-rows: 100px 100px;
  width: calc(100%);
}

.column,
.row {
  position: relative;
  padding: 0 10px;
  border-left: 2px dashed #75808a;
  border-right: 2px dashed #75808a;
  text-align: center;
  line-height: calc(2rem - 3px);
  font-weight: 600;
  background: transparent;
}

.column::after,
.row::after {
  content: '';
  position: absolute;
  top: calc(5px * -0.1);
  left: calc(2px * -1);
  right: calc(2px * -1);
  width: calc(100% + 4px);
  height: 5px;
  border: 2px dashed #75808a;
  border-bottom: none;
  border-right: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.row::after{
  width: calc(100% + 5px);
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.column {
  margin-top: -2rem;
}

.row {
  border-bottom: 2px dashed #75808a;
  border-top: 2px solid #75808a;
  margin-left: -3rem;
  display: flex;
  justify-content: start;
  align-items: center;
  border-top: unset;
  border-right: unset;
}
