
.lb-layout-box{
  position: relative;
  width:280px;
  max-width: calc(100vw - 60px);
  min-height: 200px;
  margin: 100px auto;
  padding: 2px;
}

.lb-inner-box{
  width: 100%;
  height: 100%;
}

.lb-item{
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  will-change: transform;
  border: 1px solid #454d54;
  border-radius: 4px;
  background: repeating-linear-gradient(45deg, rgba(184, 204, 224, .06), rgba(184, 204, 224, .06) 10px, rgba(184, 204, 224, 0) 0, rgba(184, 204, 224, 0) 20px);
  display: grid;
  transition: transform .5s ease-in-out;
  transform: translateZ(0);
  transform-style: preserve-3d;
  isolation: isolate;
}

.lb-grid {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  transition: transform .5s ease-in-out;
  transform: translateZ(0);
  transform-style: preserve-3d;
  isolation: isolate;
}

.lb-grid-item{
  width: 82px;
  position: relative;
  overflow: hidden;
  font-size: 1rem;
  margin: 2px;
  display: flex;
  will-change: transform;
  transform: translateZ(0);
  transform-origin: left center;
}

.lb-grid-item-box{
  flex: 1;
  background-color: silver;
  padding: 2px;
  border-radius: 4px;
}

.lb-grid-inner{
  white-space: nowrap; /* 保持文本不换行 */
  min-width: max-content; /* 保持内容最小宽度 */
  width: 100%;
  height: 100%;
  background-color: #1a1f23;
  padding: 10px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  will-change: transform;
  transform: translateZ(0);
  transform-origin: left center;
}

.lb-item-inner{
  display: grid;
  grid-template-columns: 90px 90px;
  gap: 2px;
  padding: 2px;
}

.lb-grid-content{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns:90px 90px;
  justify-content: start;
  /*justify-items: center;*/
  gap: 2px;
  padding: 3px;
}


.lb-items{
  position: relative;
  margin-top: -2rem;
  border-left: 2px dashed #75808a;
  border-right: 2px dashed #75808a;
  padding: 0 10px;
  line-height: calc(2rem - 3px);
  text-align: center;
  background: rgba(13, 15, 18, .6);
  font-size: 1rem;
  font-weight: 600;
}

.lb-row-line{
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  right: 0;
  width: 100%;
  border-bottom: 2px dashed #75808a;
}
.lb-items::after{
  content: '';
  position: absolute;
  top: calc(5px * -1);
  left: calc(2px * -1);
  right: calc(2px * -1);
  width: calc(100% + 2px * 2);
  height: 5px;
  border: 2px dashed #75808a;
  border-radius: 5px 5px 0 0;
  border-bottom: unset;
}


