.fv-container {
  width: 900px;
  height: 600px;
  position: relative;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0f12;
  padding: 32px;
  border-radius: 8px;
}

.fv-box {
  width: 100%;
  height: 500px;
  border-radius: 4px;
  padding: 36px;
  display: block;
  border: 1px solid #454d54;

}

.fv-box-shadow {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

.fv-box .fv-box-item {
  position: absolute;
  padding: 4px;
}

.fv-box-shadow .fv-box-item {
  position: relative;
}

.fv-container .fv-box-inner {
  width: 100%;
  height: 100%;
  padding: 12px;
  border: 3px solid #75808a;
  border-radius: 4px;
  min-width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e3e6e8;
  background-color: #1a1f23;
}

.fv-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 14px;
  position: relative;
}

.fv-display .fv-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  position: relative;
  transition: all 0.2s ease-in-out;

}
.fv-display .fv-btn button {
  font-size: 1rem;
  font-weight: 600;
  color: #e3e6e8;
}
.fv-display .fv-btn .fv-bottom-line {
  width: 100%;
  background-color: #ffd500;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  transition: all 0.3s ;
}

.fv-des{
  font-size: 1rem;
  font-weight: 600;
  color: #e3e6e8;
}
