*{
  box-sizing: border-box;
}

.fv-container {
  max-width: 780px;
  margin: 15px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #0d0f12;
  padding: 32px;
  border-radius: 6px;
  position: relative;
}

.fv-box {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  border: 1px solid #454d54;
  position: absolute;
}

.fv-box-shadow {
  visibility: hidden;
  position: static;
  padding: 3px;
  gap: 3px;
}

.fv-box .fv-box-item {
  position: absolute;
}

.fv-box-shadow .fv-box-item {
  position: relative;
}

.fv-container .fv-box-inner {
  width: 100%;
  height: 100%;
  padding: 12px;
  border: 2px solid #75808a;
  border-radius: 2px;
  color: #e3e6e8;
  background-color: rgb(26, 31, 35);
  margin-bottom: 3px;
}

.fv-display {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 12px;
  gap: 14px;
  position: relative;
}

.fv-display .fv-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 8px;
  position: relative;
  transition: all 0.2s ;

}

.fv-display .fv-btn button {
  font-size: 1rem;
  font-weight: 500;
  color: #e3e6e8;
  cursor: pointer;
}

.fv-display .fv-btn .fv-bottom-line {
  width: 100%;
  background-color: #ffd500;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  transition: all 0.2s ease-in-out;
}

.fv-des{
  font-size: 1rem;
  font-weight: 600;
  color: #e3e6e8;
}
